@media screen and (max-width:576px) {

    /* nav-section  */
             .nav-section{
                flex-direction: column;
             }

             .nav-links{
                width: 100%;
            }

             .link-1{
            
                flex-direction: column;
               }

               .logo{
           flex-direction: column;
                justify-content: center;
           
            }

            .logo-container{
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
               
            }
            
    /* end nav section */

    /* banner-section */
    .banner-section{
       
        flex-direction:column-reverse;
        margin-top: 50px;
    
    
    }

    .banner-bg{
        width: 100%;
        background-color: none;
        background-image: none;
    }
    
    .banner-text{
        width: 100%;
        margin-top: 80px;
      
       
       
    }

    .banner{
        text-align: center;
    }

    
    
    
    /* end banner section */
    
}