*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* share tag */

body{
    font-family: 'Work Sans', sans-serif;
}

.span-title{
background: #F948B2 ;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 40px;
font-weight: 700;
}

.discription{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}

:root{
    --common-color:#FF42A5;
}

/* end share tag */


/* start nav section */
.nav-section{

    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    min-height: 70px;
    


}

.nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


.logo-container{
    width: 50%;
   
    align-items: center;
}

.logo-container img{
    width: 50px;
 
   
}
.logo-container span{
margin-left: px;
font-size: 30px;
font-weight: 700;


}

.nav-links{
    width: 50%;
}

.link-1{
 display: flex;
 justify-content: center;
 gap: 40px;
 align-items: center;
}

.link-2 a{
text-decoration: none;
font-size: 18px;
font-weight: 500;
color: #3C354F;
}

.link-1 a{
    text-decoration: none;
    font-size: 18px;
font-weight: 500;
color: #3C354F;
}

.link-2 i{
    margin-left: 20px;
    font-size: 20px;
}

.link-2{
  
 
     align-items: center;
    padding: 10px 10px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
/* end nav section */

/* start banner section */

.banner{
}
.banner-section{
    max-width: 1000px;
    min-height: auto;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  


}


.banner-text{
    width: 50%;
}

.banner-bg{
    width: 50%;
}

.banner-bg img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.banner-text h2{
color: #0B0223;
font-size: 35px;
font-weight: 600;
text-transform: uppercase;
}

.banner-text h1{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 70px;
font-weight: 800;
text-transform: uppercase;
}

.banner-link{
    margin-top: 30px;
    margin-bottom: 50px;
}

.banner-link li{
    margin-top: 15px;
    list-style: none;
}

.banner-link li i{
    margin-right: 10px;
}

.banner-btn-1{
 padding: 15px 30px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
color: #FFF;
font-size: 18px;
font-weight: 600;
text-transform: uppercase;

}

.banner-btn-2{
padding: 15px 40px;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
border: none;
margin-left: 20px;
}

.banner-link h3{
color: #534C64;
font-weight: 500;
text-transform: lowercase;
font-size: 20px;
}
/* end banner section */

/* gamer section  */

.gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-container{
    max-width: 1000px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    
}

.gamer-img{
    width: 50%;
    margin: 30px auto;
}

.gamer-img img{
    width: 100%;
    display: block;
    margin: o auto;
}

.gamer-content{
    width: 50%;
    text-align: right;
}

.gamer-container h2{
    margin-bottom: 20px;
font-size: 40px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.gamer-container p{
color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 25px;
}

.gamer-btn{

    margin-top: 20px;
    margin-bottom: 20px;
border: none;
padding: 12px 35px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
}

div small{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
 line-height: 40px;
}

.gamer-span{
    color: #534C64;

font-size: 22px;

font-weight: 700;
line-height: 20px;
}
/* end gamer section */

/* funny video */

.funny-video-section{
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.funny-video h1{
 text-align: center;
color: #0B0223;
font-size: 40px;
font-weight: 700;
margin-bottom: 15px;

}

.funny-video p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  margin-bottom: 40px;
 
}

.funny-video-section p{
 color: #534C64;
font-size: 18px;
font-weight: 500;
line-height: 20px; 
text-align: left;
margin-top: 10px;
}

.funny-box img{
 width:250px;
 height: auto;
}